body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.hero {
    background-image: url('./../images/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #926239;
}

.hero__title {
    font-size: 50px;
    line-height: 1.2;
    margin: 0;
}

.hero__text {
    font-size: 20px;
    margin: 0;
}

.container {
    text-align: center;
    padding-top: 45vh;
}

.hero__button {
    display: inline-block;
    text-decoration: none;
    color: #926239;
    border: 1px solid #926239;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 20px;
}

.content-section {
    text-align: center;
    padding: 20px;
    font-size: 17px;
}

.content-section--light {
    background-color: #f4f4f4;
    color: #926239;
}

.cards {
    font-size: 0;
    text-align: left;
    padding: 0;
}

.card {
    box-sizing: border-box;
    font-size: 17px;
    display: inline-block;
    width: calc(100% / 3);
    padding: 20px;
    vertical-align: top;
}

.card--dark, .hero__button:hover, .content-section--dark {
    background-color: #926239;
    color: white;
}

.card--light  {
    background-color: #f9f9f9;
    color: #926239;
}

.content-section__text, .card__text {
    margin: 0;
}
